@font-face {
    font-family: Circular;
    src: url(../fonts/circular/circular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Circular, 'sans-serif';
}

a:hover {
    color: #fff !important;
}

/*region main */

main {
    height: 100vh;
    display: flex;
}

/*region nav */

main > nav {
    color: #fff;
    background: #000;
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 85px;
}

.menu-toggle {
    display: none;
}

.main-navigation {
    padding: 5px 10px;
}

.main-navigation img {
    width: 100%;
}

/*region menu*/

.menu > a {
    width: 100%;
    color: #6F6F6F;
    text-align: center;
    padding: 3px 0;
    display: block;
}

.menu > a > svg {
    color: #F0D4D4;
}

.menu > a:hover > svg {
    color: #fff;
}

.menu > a > i {
    font-size: 1.4rem;
}

.menu > a > span {
    display: none;
}

/*endregion*/

/*region playlist*/

.playlist .add-playlist a:hover > .add {
    background: #fff;
}

/*endregion*/

/*region profile*/

.profile {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile .circle {
    background: #808080;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.profile > .download > a {
    font-size: .7rem;
    color: #A3A3A3;
}

.profile > .user svg {
    font-size: 2.2rem;
}

.profile > .download > a > span, .profile > .user > h5 {
    display: none;
}

/*endregion*/

/*endregion*/

/*region main content */

section[role="main"] {
    background: #141922;
    flex: 1 100%;
    overflow-y: auto;
}

section[role="main"]::-webkit-scrollbar {
    width: 10px;
}

section[role="main"]::-webkit-scrollbar-track {
    background: #5A5A5A;
}

section[role="main"]::-webkit-scrollbar-thumb {
    background: rgba(193, 193, 193, .5);
    border-radius: 4px;
}

section[role="main"]::-webkit-scrollbar-thumb:hover {
    background: rgb(193, 193, 193);
}

/*region top bar*/

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 50px);
    height: 80px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}

.top-bar > button.upgrade {
    font-size: .8rem;
    text-transform: uppercase;
    color: #fff;
    background: none;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.top-bar > button.upgrade:hover {
    transform: scale(1.05);
}

.top-bar > button.upgrade:focus {
    outline: none;
}

/*endregion*/

/*region inner content*/

.inner-content {
    padding: 100px 10px;
}

/*region nav*/

.inner-content > nav {
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
}

.inner-content > nav > a {
    position: relative;
    font-size: .7rem;
    color: #7C7E86;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px;
}

.inner-content > nav > a.active {
    position: relative;
}

.inner-content > nav > a.active:after {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 28px;
    height: 2px;
    background: #ADFF2F;
    display: block;
    cursor: default;
}

/*endregion*/

.recently-played, .created-for, .popular-artists {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inner-content h2 {
    flex: 1 100%;
    justify-self: center;
    margin: 30px 0 20px 0;
}

.inner-content p {
    font-size: .7rem;
    color: #7C7E86;
    margin-bottom: 5px;
}

.inner-content p.subtitle {
    flex: 1 100%;
    margin-top: -15px;
    margin-bottom: 20px;
}

/*region cards*/

.inner-content .card {
    text-align: center;
    flex: 0 49%;
    display: flex;
    flex-direction: column;
}

.inner-content .card img {
    width: 100%;
}

.inner-content .card > .preview {
    position: relative;
    display: flex;
    cursor: pointer;
}

.inner-content .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.inner-content .card .preview:hover .overlay,
.inner-content .card .preview-group:hover .overlay {
    opacity: 1;
}

.inner-content .card > .preview.round > img {
    clip-path: circle();
}

.inner-content .card > .preview > span {
    position: absolute;
    bottom: 7px;
    left: 14px;
}

.inner-content .card > .preview-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.inner-content .card > .preview-group > img {
    width: calc(49%/2);
    flex: 1 50%;
}

.inner-content .card > h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

/*endregion*/

/*endregion*/

/*endregion*/

/*endregion*/

/*region playing-now */

section#playing-now {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    background: #282828;
    display: flex;
}

section#playing-now button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

/*region progress bar*/

.range {
    position: relative;
    height: 4px;
    min-width: 40px;
    width: 40%;
    background: #5A5A5A;
    border-radius: 3px;
    margin-right: 6px;
    margin-left: 3px;
}

#main {
    min-width: 80px;
    width: 70%;
}

input[type="range"] {
    -webkit-appearance: none;
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
    border-radius: 3px;
    outline: none;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    visibility: hidden;
}

section#playing-now input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: #fff;
    border: none;
    border-radius: 50%;
    visibility: hidden;
}

.progress {
    height: 4px;
    background: #C1C1C1;
    border-radius: 3px;
}

input[type="range"]:hover::-webkit-slider-thumb {
    visibility: visible;
}

input[type="range"]:hover::-moz-range-thumb {
    visibility: visible !important;
}

input[type="range"]:hover + .progress {
    background: #B4EC55;
}
/*endregion*/

/*region song-preview*/

.song-preview {
    flex: 0 1 120px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.song-preview > .info {
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-preview .info > img {
    height: 25px;
    width: auto;
}

.song-preview .info .inner-info {
    display: flex;
    flex-direction: column;
}

.song-preview .info .inner-info > a {
    font-size: .65rem;
    color: #fff;
    text-decoration: none;
}

.song-preview .info .inner-sub-info {
    width: 45px;
    color: #808080;
    display: flex;
    justify-content: space-between;
}

.song-preview .info .inner-sub-info > a {
    font-size: .5rem;
    color: #808080;
    text-decoration: none;
}

.song-preview .info .inner-sub-info > a:hover {
    text-decoration: underline;
}

.song-preview .favorites {
    width: 13px;
    font-size: .85rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.song-preview .favorites > a {
    display: flex;
    color: #808080;
}

/*endregion*/

/*region player*/

.player {
    flex: 1 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player > .player-controls {
    font-size: 1rem;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.player .player-controls > button[name="play"] {
    font-size: 1.2rem;
    margin: 0 7px;
}

.player .player-controls > button[name="play"]:hover {
    transform: scale(1.1);
}

.player > .player-progress {
    min-width: 120px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player > .player-progress > span {
    width: 20px;
    font-size: .5rem;
}

/*endregion*/

/*region volume*/

.volume {
    flex: 0 1 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.volume > button {
    height: 13px;
}

.volume > input[type="range"] {
    width: 40% !important;
    min-width: 40px !important;
}

/*endregion*/

/*endregion*/

/* starting breakpoints */

/*region small devices*/

@media screen and (min-width: 576px) {
    /*region main*/

    /*region nav*/

    main > nav {
        background: #000;
        flex: 0 0 200px;
    }

    .menu-toggle {
        display: block;
    }

    .main-navigation {
        padding: 0;
    }

    .main-navigation > a {
        display: flex;
        align-items: center;
        padding: 12px 0 0 20px;
    }

    img.logo {
        width: 40px;
        height: 40px;
    }

    img.spotify {
        width: auto;
        height: 22px;
        margin-left: 3px;
    }

    /*region menu*/

    .menu {
        margin-top: 15px;
        padding: 0;
    }

    .menu > a {
        font-size: .8rem;
        text-align: left;
        padding: 5px 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .menu > a.active {
        color: #e9e8e8;
        border-left: 3px solid #ADFF2F;
        padding-left: 17px;
    }

    .menu > a > span {
        height: 12px;
        margin-left: 5px;
        display: block;
    }

    /*endregion*/

    /*region playlist*/

    .playlist {
        color: #fff;
        height: 280px;
        padding-left: 20px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .playlist h5 {
        text-transform: uppercase;
    }

    .playlist a {
        color: #6F6F6F;
        text-decoration: none;
    }

    .playlist > .add-playlist {
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .playlist > .add-playlist > a {
        display: flex;
        align-items: center;
    }

    .playlist > .add-playlist .add {
        width: 35px;
        height: 35px;
        background: #A3A3A3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .playlist > .add-playlist span {
        height: 14px;
        font-size: .9rem;
        margin-left: 10px;
    }

    .playlist > ul.my_playlists {
        font-size: .8rem;
        list-style: none;
    }

    .playlist > ul.my_playlists > li {
        margin: 12px 0;
    }

    /*endregion*/

    /*region profile*/

    .profile {
        align-items: flex-start;
        padding: 0 20px;
    }

    .profile hr {
        width: 100%;
        border: none;
        border-top: 1px solid #5C5C5C;
    }

    .profile > .download > a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
    }

    .profile > .download > a > span {
        font-size: .75rem;
        margin-left: 10px;
    }

    .profile > .user {
        width: 100%;
        margin-top: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .profile > .user > h5 {
        margin-top: 3px;
        margin-left: 7px;
    }

    .profile > .download > a > span, .profile > .user > h5 {
        display: block;
    }

    /*endregion*/

    /*endregion*/

    /*region main content*/

    /*region top bar*/

    .top-bar {
        width: calc(100% - 200px);
    }

    /*endregion*/

    /*endregion*/

    /*region playing now*/

    /*region song preview*/

    .song-preview {
        flex: 0 1 170px;
    }

    .song-preview > .info {
        width: 99px;
    }

    .song-preview .info > img {
        height: 45px;
    }

    .song-preview > .favorites {
        width: 45px;
        font-size: 1rem;
    }

    /*endregion*/

    /*region player*/

    .player > .player-controls {
        min-width: 170px;
        margin-bottom: 0;
    }

    .player .player-controls > button {
        font-size: 1.2rem;
    }

    .player .player-controls > button[name="play"] {
        font-size: 1.7rem;
        margin: 0 10px
    }

    /*endregion*/
    
    /*region volume*/
    
    .volume {
        flex: 0 1 170px;
    }

    .volume > button {
        font-size: 1rem;
        height: 14px;
    }

    .volume > input[type="range"] {
        width: 50% !important;
        min-width: 40px !important;
    }
    
    /*endregion*/

    /*endregion*/

    /*endregion*/
}

/*endregion*/

/*region medium devices*/

@media screen and (min-width: 768px) {
    /*region main*/

    /*region main content*/

    /*region inner-content*/

    .recently-played, .created-for, .popular-artists {
        justify-content: flex-start;
    }

    .created-for, .popular-artists {
        margin-top: 10px;
    }

    /*region cards*/

    .inner-content h2 {
        margin-top: 0;
    }

    .inner-content .card {
        flex: 0 23%;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    /*endregion*/

    /*endregion*/

    /*endregion*/


    /*endregion*/
}

/*endregion*/

/*region large devices*/

@media screen and (min-width: 992px) {
    /*region main*/

    /*region main content*/

    /*region inner-content*/

    /*region cards*/

    .inner-content .card {
        flex: 0 calc(92%/6);
    }

    /*endregion*/

    /*endregion*/

    /*endregion*/

    /*endregion*/
}

/*endregion*